form{
    padding: .5rem;
    width: 80%;
    margin: 1rem auto;
}

::placeholder{
    color: #aaa;
}

.field{
    margin: 1rem auto;
    justify-content: flex-end;
}

input, textarea{
    display: block;
    background-color: transparent;
    color: var(--text-color);
    border: 1.25px solid var(--text-color);
    padding: .75rem;
    resize: none;
    border-radius: .5rem;
    width: 80%;
    margin: 1.25rem auto;
    font-size: 1rem;
}

legend{
    padding: .5rem;
}

.btn-wrap{
    padding: .5rem;
    display: flex;
    justify-content: center;
}

#flashcard-data{
    display: none;
    justify-content: space-between;
    /* align-items: center; */
    width: 95%;
    margin: .5rem auto;
    background-color: #222;
    padding: 1rem;
    border-radius: 1rem;
    height: 30rem;
    max-height: 40rem;
}

#flashcard-data form{
    margin: 1rem;
    width: 70%;
}

#flashcard-preview{
    height: 20rem;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

#flashcard-preview h4{
    text-align: center;
}

:disabled{
    background: #7777;
}

:disabled:hover{
    background: #7777;
}

#info{
    text-align: center;
    width: 100%;
    padding: .75rem;
}

#info div{
    display: flex;
}

#tagline{
    text-align: left;
}

#edit{
    background: transparent;
}

#action-list{
    display: flex;
    justify-content: space-around;
    padding: .5rem 0;
}

#action-list button{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
}

#modalbg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3337;
    padding-top: 20dvh;
    display: none;
    backdrop-filter: blur(.25rem);
}

#modal{
    background-color: #111;
    padding: 1rem;
    width: 80dvw;
    border-radius: .75rem;
    color: var(--text-color);
    margin: auto;
}

#recent-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recent-actions{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    width: 100%;
}

#recent-actions button{
    text-transform: uppercase
}

#recent-actions button:last-child{
    background: #f12312;
}

#modal table{
    width: 100%;
    padding: .5rem;
}

#modal th, #modal td{
    text-align: center;
    padding: 1rem;
}

.card-wrap{
    padding: .125rem;
    height: 20rem;
    border-radius: .5rem;
    background-color: #222;
    cursor: pointer;
}

.card{
    padding: 1rem;
    text-overflow:ellipsis;
    text-align: center;
    height: 100%;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 2.5px #777;
    border-radius: .25rem;
}

.card p{
    font-size: 150%;
}

#flashcard-count{
    display: block;
    text-align: center;
    padding: .25rem;
}

#flashcard-progress-wrap{
    padding: .5rem;
}

#progress{
    background-color: #111;
    /* padding: .125rem; */
    border-radius: 1rem;
    width: 100%;
}

#level{
    padding: .125rem;
    /* border-radius: 1rem; */
    background: linear-gradient(to right, var(--theme), #f72342);
    display: block;
    width: 0%;
}

#contextmenu{
    background-color: #111;
    box-shadow: 0 0 1px #777;
    padding: .5rem;
    border-radius: .25rem;
    position: absolute;
    display: none;
}

form h3{
    text-align: center;
}

.mobile{
    display: none;
}

@media screen and (max-width: 600px) {
    .mobile{
        display: block;
    }

    html{
        height: 100%;
    }

    body{
        height: 100%;
    }

    main{
        position: relative;
        height: 100%;
    }

    #flashcard-data{
        height: 30rem;
    }

    #flashcard-data form{
        width: 100%;
        margin: auto;
    }

    #flashcard-preview{
        display: none;
        width: 100%;
    }

    .preview-wrap{
        position: absolute;
        bottom: 2rem;
        left: 0;
        right: 0;
    }

    .preview-wrap button{
        display: block;
        margin: auto;
    }

    .number{
        text-align: center;
        transform: translateY(-3rem);
    }
}