*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
    transition: .5s;
    letter-spacing: .95px;
}

*:focus{
    outline: none;
}

:root{
    --theme: #3451f7;
    --text-color: #ddd;
    --bgcolor: #333E;
}

@keyframes blink{
    from{
        opacity: 0
    }
    to{
        opacity: 1;
    }
}

html{
    background-color: var(--bgcolor);
    color: var(--text-color);
    font-family: Ubuntu;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    box-shadow: 1px 1px 1px #7777;
}

button{
    background: linear-gradient(to right, var(--theme), #f72342);
    border: 0;
    color: var(--text-color);
    padding: .75rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1rem;
    display: block;
}

button:hover{
    background: linear-gradient(to left, var(--theme), #f72342);
}

.collapse{
    max-height: 0;
    overflow: hidden;
}

.expand{
    /* border: .5px dashed; */
    max-height: 25rem;
    background-color: #333;
}

#recent h3{
    text-align: center;
}

#no-flashcard{
    text-align: center;
}

#recent ul{
    padding: .5rem .25rem;
}

#recent ul li{
    margin: .25rem 0;
    padding: .25rem;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#recent button{
    width: 100%;
    background: transparent;
    text-align: left;
    padding: 1rem;
}

#recent button:hover{
    background-color: #3337;
}

#snapshots_wrap{
    background-color: #1c1c1c;
    margin: 1.2rem;
    padding: 1rem;
    border-radius: .75rem;
}

img{
    border-radius: .75rem;
}

#snapshots_list li:hover{
    transform: scale(105%);
}

::-webkit-scrollbar{
    /* background-color: #777; */
    width: .5rem;
    border-radius: .75rem;
    cursor: pointer;
}

::-webkit-scrollbar-thumb{
    background-color: #7777;
    border-radius: .75rem;
}

.user-profile-wrap{
    padding: .5rem;
}

.user-profile h5{
    text-align: center;
    font-size: 1rem;
}

.user-profile-wrap button{
    margin: auto;
}

.user-profile{
    padding: .5rem;
}

.user-profile img{
    display: block;
    margin: .25rem auto;
}

#user-profile-form div.field{
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#user-profile-form .field .label{
    width: 20%;
}

footer{
    background-color: #1c1c1c;
    padding: 1rem;
}

@media screen and (max-width: 600px) {
    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }

    #content{
        padding: .75rem;
    }

    #intro{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #intro h2{
        font-size: 4rem;
        background: linear-gradient(to right, var(--theme), #f72342);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

    #dynamic{
        font-size: 2rem;
        padding: 1rem 0;
    }

    #dynamic::after{
        padding: 0 .1rem;
        height: .4rem;
        width: .75rem;
        display: inline-block;
        background-color: var(--theme);
        content: "";
        animation: blink .85s infinite linear;
    }

    #about{
        padding: .5rem;
        line-height: 1.2rem;
    }

    .btn-wrap{
        padding: .5rem;
        padding-top: 3rem;
    }

    .collapse{
        max-height: 0;
        overflow: hidden;
    }

    .expand{
        /* border: .5px dashed; */
        max-height: 15rem;
        background-color: #333;
    }

    #options ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
    }

    #options ul button{
        margin: .125rem 0;
    }

    #recent{
        padding: .5rem;
    }

    #recent button{
        margin-bottom: .5rem;
    }
}

/* Style for large screens */
@media screen and (min-width: 600px) {
    .mobile{
        display: none;
    }
    
    .desktop{
        display: block;
    }

    #intro{
        text-align: center;
        width: 100%;
    }
    
    #intro h2{
        font-size: 8rem;
        text-align: center;
        background: linear-gradient(to right, var(--theme), #f72342);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    
    #content{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }

    #sidebar, #recent{
        padding: .5rem;
    }

    #options{
        margin-top: 1rem;
    }

    #options ul{
        height: 7rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #about{
        font-size: 1.25rem;
        margin: 2.5rem 0;
    }

    #dynamic{
        font-size: 3.5rem;
        padding: 1rem 0;
    }

    #dynamic::after{
        padding: 0 .1rem;
        height: .75rem;
        width: 1rem;
        display: inline-block;
        background-color: var(--theme);
        content: "";
        animation: blink .85s infinite linear;
    }

    #snapshots_list{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    #snapshots_list li{
        padding: .5rem;
        cursor: pointer;
        border-radius: .75rem;
        width: 24.5%;
    }

    #snapshots_list img{
        width: 100%;
    }

    .snapshot_card{
        position: relative;
    }

    .snapshot_text{
        position: absolute;
        bottom: 0;
        padding: .5rem;
        padding-top: 1.75rem;
        background: linear-gradient(#7770, #5557, #4448, #3339, #222);
        text-align: center;
        border-radius:  0 0 .75rem .75rem;
    }

    #snapshots_wrap h2{
        font-size: 2rem;
        padding: 0 1rem;
    }

    #snapshots_wrap h4{
        font-size: 1.25rem;
        padding: .75rem 1rem;
        font-weight: 100;
    }

    #get-started{
        padding: 1.5rem;
    }
    
    #get-started button{
        display: block;
        margin: auto;
    }
}