*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
    transition: .5s;
    letter-spacing: .95px;
}

*:focus{
    outline: none;
}

:root{
    --theme: #3451f7;
    --text-color: #ddd;
    --bgcolor: #333E;
}

@keyframes blink{
    from{
        opacity: 0
    }
    to{
        opacity: 1;
    }
}

html{
    background-color: var(--bgcolor);
    color: var(--text-color);
    font-family: Ubuntu;
    scroll-behavior: smooth;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    box-shadow: 1px 1px 1px #7777;
}

button{
    background: linear-gradient(to right, var(--theme), #f72342);
    border: 0;
    color: var(--text-color);
    padding: .75rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1rem;
    display: block;
}

button:hover{
    background: linear-gradient(to left, var(--theme), #f72342);
}

.transparent-btn{
    background: transparent;
    color: #CCC;
}

.transparent-btn:hover{
    background: transparent;
    text-decoration: underline;
}

.collapse{
    max-height: 0;
    overflow: hidden;
}

.expand{
    /* border: .5px dashed; */
    max-height: 25rem;
    background-color: #333;
}

#recent h3{
    text-align: center;
}

#no-flashcard{
    text-align: center;
}

#recent ul{
    padding: .5rem .25rem;
}

#recent ul li{
    margin: .25rem 0;
    padding: .25rem;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#recent button{
    width: 100%;
    background: transparent;
    text-align: left;
    padding: 1rem;
}

#recent button:hover{
    background-color: #3337;
}

#snapshots_wrap{
    background-color: #1c1c1c;
    margin: 1.2rem;
    padding: 1rem;
    border-radius: .75rem;
}

img{
    border-radius: .75rem;
}

#snapshots_list li:hover{
    transform: scale(105%);
}

#snapshots_list img{
    width: 100%;
}

.snapshot_card{
    position: relative;
}

.snapshot_text{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: .5rem;
    padding-top: 1.75rem;
    background: linear-gradient(#7770, #5558, #4449, #333A, #222);
    text-align: center;
    border-radius:  0 0 .75rem .75rem;
}

#snapshots_wrap h2{
    font-size: 2rem;
    padding: 0 1rem;
}

#snapshots_wrap h4{
    font-size: 1.25rem;
    padding: .75rem 1rem;
    font-weight: 100;
}


::-webkit-scrollbar{
    /* background-color: #777; */
    width: .5rem;
    border-radius: .75rem;
    cursor: pointer;
}

::-webkit-scrollbar-thumb{
    background-color: #7777;
    border-radius: .75rem;
}

.user-profile-wrap{
    padding: .5rem;
}

.user-profile h5{
    text-align: center;
    font-size: 1rem;
}

.user-profile-wrap button{
    margin: auto;
}

.user-profile{
    padding: .5rem;
}

.user-profile img{
    display: block;
    margin: .25rem auto;
}

.pfp-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pfp-field *{
    display: block;
}

.pfp-field img{
    display: block;
}

.pfp-field label{
    background-color: #3451f7;
    padding: .75rem;
    border-radius: .3rem;
    cursor: pointer;
    margin: .5rem 0;
    display: none;
}

.pfp-field label:hover{
    background-color: #1c3adf;
}

.pfp-field input{
    display: none;
}

#user-profile-form{
    position: relative;
}

.edit-profile-btn-wrap{
    position: absolute;
    top: -.5rem;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

#user-profile-form div.field{
    margin: auto;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-profile-form .field label{
    width: 20%;
    font-size: 85%;
}

.update-field button{
    display: none;
}

footer{
    background-color: #1c1c1c;
    padding: 1rem;
}

#contact ul{
    padding: .5rem;
    display: flex;
}

footer #contact li{
    display: inline;
    border-radius: 50%;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
}

a, footer #contact a{
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: inherit;
    padding: .5rem;
}

footer #contact a:hover{
    transform: scale(1.05);
    text-decoration: 2px underline;
}

footer #copyright p{
    width: 100%;
}

footer hr{
    border: .0625rem solid;
}

footer #copyright span{
    font-size: medium;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#footer-bottom ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-top-col-3{
    width: 100%;
    height: 100%;
}

#footer-top-col-3 h1{
    width: 100%;
    text-align: center;
    font-size: 5rem;
}

.error-head{
    font-size: 1.5rem;
}

.error li, .error{
    padding: .5rem;
    text-align: left;
}

@media screen and (max-width: 600px) {
    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }

    #content{
        padding: .75rem;
    }

    #intro{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #intro h2{
        font-size: 4rem;
        background: linear-gradient(to right, var(--theme), #f72342);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

    #dynamic{
        font-size: 2rem;
        padding: 1rem 0;
    }

    #dynamic::after{
        padding: 0 .1rem;
        height: .4rem;
        width: .75rem;
        display: inline-block;
        background-color: var(--theme);
        content: "";
        animation: blink .85s infinite linear;
    }

    #about{
        padding: .5rem;
        line-height: 1.2rem;
    }

    .btn-wrap{
        padding: .5rem;
        padding-top: 3rem;
    }

    .collapse{
        max-height: 0;
        overflow: hidden;
    }

    .expand{
        /* border: .5px dashed; */
        max-height: 15rem;
        background-color: #333;
    }

    #options ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
    }

    #options ul button{
        margin: .125rem auto;
    }

    #snapshots_list li{
        margin-bottom: 1rem;
    }

    #recent{
        padding: .5rem;
    }

    #recent button{
        margin-bottom: .5rem;
    }

    #contact, #footer-top-col-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* Style for large screens */
@media screen and (min-width: 600px) {
    .mobile{
        display: none;
    }
    
    .desktop{
        display: block;
    }

    #intro{
        text-align: center;
        width: 100%;
    }
    
    #intro h2{
        font-size: 8rem;
        text-align: center;
        background: linear-gradient(to right, var(--theme), #f72342);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    
    #content{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }

    #sidebar, #recent{
        padding: .5rem;
    }

    #options{
        margin-top: 1rem;
    }

    #options ul{
        height: 7rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #about{
        font-size: 1.25rem;
        margin: 2.5rem 0;
    }

    #dynamic{
        font-size: 3.5rem;
        padding: 1rem 0;
    }

    #dynamic::after{
        padding: 0 .1rem;
        height: .75rem;
        width: 1rem;
        display: inline-block;
        background-color: var(--theme);
        content: "";
        animation: blink .85s infinite linear;
    }

    #snapshots_list{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    #snapshots_list li{
        padding: .5rem;
        cursor: pointer;
        border-radius: .75rem;
        width: 24.5%;
    }

    #get-started{
        padding: 1.5rem;
    }
    
    #get-started button{
        display: block;
        margin: auto;
    }

    #footer-top{
        display: grid;
        grid-template-columns: 2fr 2fr 3fr;
    }
    
    footer div{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        align-content: center;
        justify-content: center;
    }
}